$home-bgc = #00BCD4
$swiper-bgc = #EEE
$color-FFF = #FFF
$color-CCC = #CCC
$bgc-red = red
$color-dark = #333
$rem86 = .86rem

ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
